@model List<EF_DBFirst.Models.SinhVien>
@{
    ViewBag.Title = "Danh sách Sinh viên";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<p>Họ và tên: Đào Đức Mạnh</p>
<p>Mã sinh viên: 21115053120332</p>
<p>EF DatabaseFirst</p>
<h2>Sinh viên thuộc khoa Công nghệ số có độ tuổi từ 18 - 20</h2>
<table>
    <tr>
        <th>Mã sinh viên</th>
        <th>Tên sinh viên</th>
        <th>Tuổi</th>
        <th>Lớp</th>
        <th>Khoa</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Age</td>
            <td>@item.Lop.Name</td>
            <td>@item.Lop.Khoa.Name</td>
        </tr>
    }
</table>

